#------------------------------------------------------------------CFX Base------------------------------------------------------------------#
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager-rdr3
ensure oxmysql

#------------------------------------------------------------------VOIP------------------------------------------------------------------#

ensure pma-voice

#------------------------------------------------------------------RedEM_Base: Do Not Change Base Ensure Order ------------------------------------------------------------------#
ensure oxmysql
ensure redem_roleplay
ensure redemrp_menu_base
ensure redemrp_menu
ensure redemrp_creator
ensure redemrp_charselect
ensure redemrp_respawn
ensure redemrp_inventory
ensure redemrp_status
ensure redemrp_notification
ensure redemrp_clothes_store
ensure redemrp_skin
#------------------------------------------------------------------Everything Else------------------------------------------------------------------#
ensure [redemrp]
ensure [maps]
ensure [others]
# ensure WH_Redemrp_Whitelist # Use this to add Admin perms using Discord Roles. Follow steps below

##----------------------------------ADMIN DIRECTIONS--------------------------------------------------------------------##

## Make sure you have a discord set up, that you are the admin of
## Go to hhttps://discord.com/login?redirect_to=%2Fdevelopers%2Fapplications%2F
## Create a bot
## If you need help with creating a bot, https://www.writebots.com/discord-bot-token/


## Make a role that you want to assign to people to have admin perms in game
## Uncomment the ensure WH_Redemrp_Whitelist above
## Go to resources\redem_roleplay\server
## Open the sv_player.lua and find Roll your own discord role permissions sytem here.
## Uncomment those lines of code, and add the discord role id of the role you set up in step 2 where it says ROLE ID
## To get the discord role id you need to have your discord in dev mode. 
## Open user settings, go to advanced and click the slide for dev mode. 
## Assign yourself the role you want, click your name, than right click the role
## Hit copy ID
